In [49]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import numpy as np

cols = ["Class","Alcohol",
 	 "Malic acid",
 	 "Ash",
	 "Alcalinity of ash",  
 	 "Magnesium",
	"Total phenols",
 	"Flavanoids",
 	"Nonflavanoid phenols",
 	"Proanthocyanins",
	"Color intensity",
 	"Hue",
 	"OD280/OD315 of diluted wines",
 	"Proline" ]

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
wine = pd.read_csv(url, names=cols, sep=",", index_col = False)

In [50]:
X = wine.drop('Class', axis=1)

In [78]:
#converting class labels to integer representation
labels = pd.get_dummies(wine, columns=['Class'])
y = labels.loc[:,['Class_1','Class_2','Class_3']]

#Class 1 represents 1,0,0
#Class 2 represents 0,1,0
#Class 3 represents 0,0,1
y

     Class_1  Class_2  Class_3
0          1        0        0
1          1        0        0
2          1        0        0
3          1        0        0
4          1        0        0
..       ...      ...      ...
173        0        0        1
174        0        0        1
175        0        0        1
176        0        0        1
177        0        0        1

[178 rows x 3 columns]

In [52]:
#split data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.5, random_state=42)

In [53]:
#scale data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [60]:
#create a connected nueral model
model = keras.models.Sequential([
    keras.layers.Flatten(input_shape=[13]),
    keras.layers.Dense(80, activation="relu"),
    keras.layers.Dense(3, activation='sigmoid')])

In [69]:
# establish loss, optimizer, and metric
opt = tf.keras.optimizers.Adam(learning_rate=0.01)

model.compile(loss="binary_crossentropy",
                optimizer= "adam",
                metrics=["accuracy"])

In [70]:
#fit data to model
history = model.fit(
    X_train, y_train, 
    epochs=10, 
    validation_data=(X_test, y_test), 
    verbose=0)

In [71]:
# measure training set accurcay
train_loss, train_accuracy = model.evaluate(X_train, y_train, verbose=0)

In [77]:
result = np.round(model.predict(X_test))
result

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]], dtype=float32)

In [79]:
#measure test accuracy
test_loss, test_accuracy = model.evaluate(X_test, y_test, verbose=0)

train_accuracy, test_accuracy

(1.0, 0.966292142868042)

In [74]:
import pandas as pd

df = pd.read_excel (r'A2Q2.xlsx')

In [76]:
#import new data
df = pd.read_excel (r'A2Q2.xlsx')
df.set_index('Attribute\Wine sample',inplace=True)

#reorder new data to match layout of training/testing data
df_new= df.transpose()

df_new

Attribute\Wine sample,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
1,11.472199,3.832194,2.252292,10.141369,114.437132,2.291474,2.168882,2.535612,1.433013,6.931693,1.372292,2.137596,745.919512
2,11.225170,2.195361,2.187768,12.120979,105.546976,2.584467,2.007357,2.563136,1.862052,6.598349,1.235305,2.844304,1027.805785
3,12.194506,1.613973,2.541185,10.377138,111.963048,2.328966,2.323064,2.320609,1.094167,6.504298,2.558098,2.580155,692.632255
4,11.561439,2.433522,2.104557,17.298640,110.329197,2.236003,2.192473,2.333027,1.658635,6.525432,2.251870,3.127505,1197.802416
5,11.320787,2.628380,2.084256,18.267162,107.553521,2.036388,2.018325,2.960095,1.761005,6.307844,1.035132,3.311286,1501.183282
6,10.790013,2.029487,2.599519,14.088306,100.865407,2.787944,2.738666,2.357926,1.297112,6.047519,2.727670,2.951639,1228.604373
7,11.314186,2.920993,2.264396,11.313099,105.671757,2.529319,2.770853,2.475294,1.504773,6.779923,2.850080,3.515368,673.359541
8,10.658580,2.081044,2.973052,8.451978,107.905541,2.577381,2.758754,2.567834,1.215686,6.497477,1.291515,2.014400,1304.383205
9,13.448827,1.177713,2.283766,13.764241,107.261022,2.163040,2.816865,2.412587,1.305110,6.905043,1.880179,3.392654,717.437571
10,13.295328,3.755816,2.576186,15.831426,112.942811,2.279185,2.010722,2.823347,1.651938,6.912908,2.672684,2.019621,1366.067921

In [83]:
#transform new data and predict
scaler2 = StandardScaler()
scaler2.fit(df_new)
ew = scaler2.transform(df_new)
class_result = np.round(model.predict(ew))
class_result

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.]], dtype=float32)

In [85]:
#convert to integers
sample = class_result.astype(int)

#convert to a list
sample = sample.tolist()
sample

[[0, 0, 1],
 [0, 1, 0],
 [0, 0, 0],
 [0, 1, 0],
 [0, 1, 0],
 [0, 1, 0],
 [0, 1, 0],
 [1, 0, 0],
 [1, 0, 0],
 [0, 0, 1]]

#### Class 1 represents 1,0,0
#### Class 2 represents 0,1,0
#### Class 3 represents 0,0,1

In [87]:
for i in range(9):
    print ("sample",i,": {", sample[i],"}")

sample 0 : { [0, 0, 1] }
sample 1 : { [0, 1, 0] }
sample 2 : { [0, 0, 0] }
sample 3 : { [0, 1, 0] }
sample 4 : { [0, 1, 0] }
sample 5 : { [0, 1, 0] }
sample 6 : { [0, 1, 0] }
sample 7 : { [1, 0, 0] }
sample 8 : { [1, 0, 0] }