In [ ]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import numpy as np
import io

cols = ["Class","Alcohol",
 	 "Malic acid",
 	 "Ash",
	 "Alcalinity of ash",  
 	 "Magnesium",
	"Total phenols",
 	"Flavanoids",
 	"Nonflavanoid phenols",
 	"Proanthocyanins",
	"Color intensity",
 	"Hue",
 	"OD280/OD315 of diluted wines",
 	"Proline" ]

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
wine = pd.read_csv(url, names=cols, sep=",", index_col = False)

In [ ]:
X = wine.drop('Class', axis=1)
y = wine['Class']

In [ ]:
#split data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.5, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
train_data = scaler.transform(X_train)
test_data = scaler.transform(X_test)

In [81]:
from tensorflow import keras
import tensorflow as tf

model = keras.Sequential([
    keras.layers.Flatten(input_shape=[13]),
    keras.layers.Dense(80, activation='relu'),
    keras.layers.Dense(80, activation='relu')
    keras.layers.Dense(4, activation='softmax')])

SyntaxError: ignored

In [82]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_3 (Flatten)          (None, 13)                0
_________________________________________________________________
dense_6 (Dense)              (None, 180)               2520
_________________________________________________________________
dense_7 (Dense)              (None, 4)                 724
=================================================================
Total params: 3,244
Trainable params: 3,244
Non-trainable params: 0
_________________________________________________________________

In [83]:
# establish loss, optimizer, and metric
model.compile(optimizer='adam', 
              loss="sparse_categorical_crossentropy", 
              metrics=['accuracy'])

In [84]:
#fit data to model
history = model.fit(X_train, y_train,epochs = 100, 
                    validation_data = (X_test, y_test), 
                    verbose = 0)

result = np.argmax(model.predict(X_test), axis=-1)

In [85]:
#print predictions of test data set
count = 0
while count != 5:
  print(result[count])
  count+=1

1
1
3
1
2

In [86]:
#print actual test labels
y_test.head()

19     1
45     1
140    3
30     1
67     2
Name: Class, dtype: int64

In [87]:
# measure training set accurcay
train_loss, train_accuracy = model.evaluate(X_train, y_train, verbose=0)

#measure test accuracy
test_loss, test_accuracy = model.evaluate(X_test, y_test, verbose=0)

test_accuracy

0.8764045238494873

##### Import new data

In [88]:
cols = ["Alcohol",
 	 "Malic acid",
 	 "Ash",
	 "Alcalinity of ash",  
 	 "Magnesium",
	"Total phenols",
 	"Flavanoids",
 	"Nonflavanoid phenols",
 	"Proanthocyanins",
	"Color intensity",
 	"Hue",
 	"OD280/OD315 of diluted wines",
 	"Proline" ]

data_points=[[11.472199, 3.832194, 2.252292,	10.141369,	114.437132,	2.291474,	2.168882,	2.535612,	1.433013,	6.931693,	1.372292,	2.137596,	745.919512],
             [11.225170,	2.195361,	2.187768,	12.120979,	105.546976,	2.584467,	2.007357,	2.563136,	1.862052,	6.598349,	1.235305,	2.844304,	1027.805785],
             [12.194506,	1.613973,	2.541185,	10.377138,	111.963048,	2.328966,	2.323064,	2.320609,	1.094167,	6.504298,	2.558098,	2.580155,	692.632255],
             [11.561439,	2.433522,	2.104557,	17.298640,	110.329197,	2.236003,	2.192473,	2.333027,	1.658635,	6.525432,	2.251870,	3.127505,	1197.802416],
             [11.320787,	2.628380,	2.084256,	18.267162,	107.553521,	2.036388,	2.018325,	2.960095,	1.761005,	6.307844,	1.035132,	3.311286,	1501.183282],
             [10.790013,	2.029487,	2.599519,	14.088306,	100.865407,	2.787944,	2.738666,	2.357926,	1.297112,	6.047519,	2.727670,	2.951639,	1228.604373],
             [11.314186,	2.920993,	2.264396,	11.313099,	105.671757,	2.529319,	2.770853,	2.475294,	1.504773,	6.779923,	2.850080,	3.515368,	673.359541],
             [10.658580,	2.081044,	2.973052,	8.451978,	107.905541,	2.577381,	2.758754,	2.567834,	1.215686,	6.497477,	1.291515,	2.014400,	1304.383205],
             [13.448827,	1.177713,	2.283766,	13.764241,	107.261022,	2.163040,	2.816865,	2.412587,	1.305110,	6.905043,	1.880179,	3.392654,	717.437571],
             [13.295328,	3.755816,	2.576186,	15.831426,	112.942811,	2.279185,	2.010722,	2.823347,	1.651938,	6.912908,	2.672684,	2.019621,	1366.067921]]


df_new = pd.DataFrame(data_points, index=[1,2,3,4,5,6,7,8,9,10], columns=cols)
df_new.index.rename("Attribute\Wine sample", inplace=True)
df_new.head()

                         Alcohol  ...      Proline
Attribute\Wine sample             ...
1                      11.472199  ...   745.919512
2                      11.225170  ...  1027.805785
3                      12.194506  ...   692.632255
4                      11.561439  ...  1197.802416
5                      11.320787  ...  1501.183282

[5 rows x 13 columns]

In [89]:
#transform new data and predict
scaler2 = StandardScaler()
scaler2.fit(df_new)
df_new = scaler2.transform(df_new)
#class_result = model.predict(df_new)

In [90]:
#convert to integers
sample = class_result.astype(int)

#convert to a list
sample = sample.tolist()

In [93]:
class_result = np.argmax(model.predict(df_new), axis=-1)
class_result

array([3, 1, 2, 2, 2, 2, 1, 2, 2, 3])

In [94]:
for i in range(10):
    print ("sample",i+1,": {", class_result[i],"}")

sample 1 : { 3 }
sample 2 : { 1 }
sample 3 : { 2 }
sample 4 : { 2 }
sample 5 : { 2 }
sample 6 : { 2 }
sample 7 : { 1 }
sample 8 : { 2 }
sample 9 : { 2 }
sample 10 : { 3 }